@model IEnumerable<Northwind.Store.Model.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<form method="post">
    <input name="filter" type="search" class="form-control"/>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        @foreach (var p in Model)
        {
            <tr><td>@p.ProductName</td></tr>   
        }
    </table>
}